@import "_base.scss";
.frame {
  background: #fff;
  padding: 1em;
}

input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.accordion {
  width: 100%;

 

 

  .accordion-item { 
    margin-bottom: 2px;

    &:first-child {
      .accordion-title-area {
        border-bottom: none;
      }
    }

    .accordion-title-area {
      border: 1px solid;
      padding: 0.5em;
      display: block;
      cursor: pointer;  
      justify-content: start;
      align-items: baseline;
      display: flex;
      &::before {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;  
      }

    }
    .accordion-content {
      max-height: 0 ;   
      overflow: hidden; 
      transition: all .3s;
      padding: 0 1em;
  
    }

    input:checked {

      
      ~ .accordion-title-area {
          border: 1px solid;
        }
      
      
      ~ .accordion-content {
        max-height: 100vh;
        padding: 1em; 
      }
      ~ .accordion-title-area::before {
        transform: rotate(90deg);
      }
    }
    
   
  }
  

}