@import "_base.scss";

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap");

$dark-blue: #06283d;
$medium-blue: #1363df;
$light-blue: #47b5ff;
$light: #dff6ff;

.frame {
  background: $dark-blue;
  
}

.widget {
  width: 300px;
  height: 260px;
  color: $dark-blue;
  background: $light;
  border-radius: 8px;
  font-family: "Mukta", sans-serif;
  transition: all .5s  ease-in-out;
  position: absolute;
  box-shadow: 0 0  10px $dark-blue;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-radius: 6px 6px 0 0;
  background-color: $medium-blue;
  height: 52px;
  color: $light;
  position: relative;
 .title {
    font-size: 1.1em;
    transition: all .5s  ease-in-out;
  }
  .menu-icon,
  .search-icon {
    cursor: pointer;
  }
  .search-area{ 
   opacity: 0; 
   //transform: scale(0);
    transition: all .5s  ease-in-out;
    position: absolute;
    input{
      position: absolute;
      right: -210px;
      top:-10px;
      padding: 3px 3px 3px 15px;
      border-radius: 10px;
      border: none;
      &:focus{
        outline:none;
      }
    }
    

  }
}

.notifications {
  height: 208px;
  width: 100%;
  border-radius: 0 0 6px 6px;
  padding: 9px 6px 6px 36px;
  background:linear-gradient(90deg, $light 17px, $light-blue  17px 19px, $light 0);
  overflow: auto;
  .item {
    position: relative;
    cursor: pointer;
    color: $dark-blue;
   line-height: 1.1em;
   margin-bottom: 10px;
    
    span {
      display: block;
    }
    .circle {
      width: 12px;
      height: 12px;
      background:  $light;
      border-radius: 50%; 
      position: absolute;
      top:3px;
      left:-24px;
      border:2px solid $medium-blue ;
    }
    .time{
      font-size: 0.7em;
    }
    .notification{
      font-size: .9em;
    }
    &:hover{
      color:$medium-blue
    }
  }
}
.menu-area{
   opacity: 0;  
   transition: all .5s  ease-in-out;
   position: absolute;
   width: 150px;
   height: auto;
   background: $light-blue;
   border-radius: 6px;
   padding: 10px;
   font-size: .9em;
  ul li{
    list-style-type: none;
    width: 100%;
    padding: 5px; 
    margin: 5px 0;
    color: $light;
    cursor: pointer;
    text-indent: 18px;
    border-bottom: 1px solid $medium-blue;
  &:hover{
    color:$medium-blue
  }
  &::before{
    content: '';
    position: absolute;
    margin: 2px 0 0 -20px;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    background-color: $medium-blue;
  }
  &:hover::before{
    background-color: $light-blue;
    border:2px solid $medium-blue ;
    box-sizing: border-box;
  }

  }

}
.hidden-title{
  transform: scale(0);
  
}
.show-search-input{
  opacity: 1 !important;
  transform: translate3d(15px , 0 , 0); 
  
}
.slide-widget{
  transform: translate3d(120px , 0 , 0); 
  
}

.slide-menu{
  opacity: 1 !important;
  transform: translate3d(-90px , 5px , 0); 
  
}