@import "_base.scss";
.frame {
  background: rgb(101, 200, 230);
  padding: 7em 2em;
}

.quoto {
  text-align: justify;
  width: 340px;
  font-size: 1.2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.3em;
  position: relative;
  text-indent: 40px;
  &::before {
    content: ",,";
    position: absolute;
    top: -76px;
    left: -68px;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -26px;
    opacity: 0.2;
  }

  &::after {
    content: ",,";
    position: absolute;
    top: 70px;
    left: 245px;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -26px;
    opacity: 0.2;
  }
}

.author {
  display: block;
  margin-top: 20px;
}
.marked {
  background-color: #1e97ba;
  padding: 2px 0 2px 8px;
  cursor: pointer;
  color: #65c8e6;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin:0 3px 0 -5px;
  &:hover {
    color: #444;
    .tooltip{
      transform: translate3d(0 , 0, 0);
      visibility: visible; 
    }
  }
  .tooltip {
    position: absolute;
    width: 200px;
    height: 94px;
    padding: 5px;
    transform: translate3d(0 , -20px, 0);
    visibility: hidden; 
    transition: all .3s ease-in;
    background-color: #a4def0;
    top:-110px;
    left:-50px;
    text-indent: 0;
    font-size: .7em; 
    padding: 0;
    cursor: text;
    border-radius: 6px;
    line-height: normal;
    &::after{
      content: '';
      position: absolute;
      bottom: -5px;
      width: 30px;
      height: 30px;
      left:80px;
      transform: rotate(45deg);
      background-color: #a4def0; 
    }
    .header{
      font-weight: 600;
      display: block; 
      background-color:#1e97ba ;
      padding: 6px;
      border-radius: 6px 6px 0 0;
      display: flex;
      justify-content: space-between;
      .icon{
        cursor: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #a4def0; 
        text-align: center;
      }
    }
    .content{ 
      display: block;  
      padding:  6px;
    }

  }

}
