body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #F6FBF4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.frame {
  border-radius: 4px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(75, 134, 115, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(75, 134, 115, 0.1);
  overflow: hidden;
  background: #fff;
  color: #4B8673;
  width: 400px;
  height: 400px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

.menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.menu-icons span {
  width: 90px;
  height: 10px;
  background-color: #5fd068;
  border-radius: 10px;
  margin: 6px;
  -webkit-box-shadow: 2px 0 5px rgba(95, 208, 104, 0.5);
          box-shadow: 2px 0 5px rgba(95, 208, 104, 0.5);
}

.menu-icons:hover span {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-icons span:nth-of-type(1) {
  -webkit-animation: animate-line-1-rev .7s ease-in-out;
          animation: animate-line-1-rev .7s ease-in-out;
}

.menu-icons span.active:nth-of-type(1) {
  -webkit-animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
          animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.menu-icons span:nth-of-type(2) {
  -webkit-animation: animate-line-2-rev .7s ease-in-out;
          animation: animate-line-2-rev .7s ease-in-out;
}

.menu-icons span.active:nth-of-type(2) {
  -webkit-animation: animate-line-2 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
          animation: animate-line-2 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.menu-icons span:nth-of-type(3) {
  -webkit-animation: animate-line-3-rev .7s ease-in-out;
          animation: animate-line-3-rev .7s ease-in-out;
}

.menu-icons span.active:nth-of-type(3) {
  -webkit-animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
          animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.no-animation {
  -webkit-animation: none !important;
          animation: none !important;
}

@-webkit-keyframes animate-line-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0deg);
            transform: translate3d(0, 22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
    background-color: red;
  }
}

@keyframes animate-line-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0deg);
            transform: translate3d(0, 22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
    background-color: red;
  }
}

@-webkit-keyframes animate-line-1-rev {
  0% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0deg);
            transform: translate3d(0, 22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-1-rev {
  0% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0deg);
            transform: translate3d(0, 22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes animate-line-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    background-color: red;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-line-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    background-color: red;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes animate-line-2-rev {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-line-2-rev {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes animate-line-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0deg);
            transform: translate3d(0, -22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(-45deg);
            transform: translate3d(0, -22px, 0) rotate(-45deg);
    background-color: red;
  }
}

@keyframes animate-line-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0deg);
            transform: translate3d(0, -22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(-45deg);
            transform: translate3d(0, -22px, 0) rotate(-45deg);
    background-color: red;
  }
}

@-webkit-keyframes animate-line-3-rev {
  0% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(-45deg);
            transform: translate3d(0, -22px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0deg);
            transform: translate3d(0, -22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-3-rev {
  0% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(-45deg);
            transform: translate3d(0, -22px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0deg);
            transform: translate3d(0, -22px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */