@import "_base.scss";
.frame {
  background: linear-gradient(-180deg, #191919 60%, brown 0);
}



.left-foot {
	animation: leg-swing 2s ease-in-out 1s infinite;
  transform-origin: 0 50%;
  position: absolute;
  top: 10px;
	left: 80px;
	width: 111px;
	height: 55px;
 
}
.right-foot { 
	animation: leg-swing 2s ease-in-out  infinite;
  transform-origin: 0 50%;
  position: absolute;
	top: 10px;
	left: 80px;
	width: 80px;
	height: 55px;
}


.shoe-1 {
  width: 120px;
  height: 50px;
  background-color: rgb(119, 103, 10);
  position: absolute;
  top: 193px;
  left: 0;
  border-radius: 15px 60px 10px 10px;
  border-bottom: 10px solid black; 
  animation: shoe-turn1 2s ease-in-out infinite;
  
  
  &::after{
    content: '';
    position: absolute;
    top:-10px;
    width: 60px;
    height: 20px;
    background-color: rgb(119, 103, 10);
    border-radius: 15px 60px 10px 10px;
    box-shadow: 5px -5px 0 rgb(88, 76, 7);
  }
  &::before{
    content: '';
    position: absolute;
    top:4px;
    left:4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(88, 76, 7);
  }
}

.shoe-2{
  @extend .shoe-1 ; 
  animation: shoe-turn1 2s ease-in-out 1s  infinite;

}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes shoe-turn1 {
	0%{
		transform:  translateX(0px);
	} 

  50% {
		transform: translateX(120px);
	} 

  100% {
		transform: translateX6(60px);
	} 
}

@keyframes leg-swing {
	0%, 100% {
		transform: rotate(-12deg);
	}
	50% {
		transform: rotate(12deg);
	}
}
.invisible-men {
	animation: fade-in .8s ease-out 1s;
	animation-fill-mode: both;
}
