@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #1a2238;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.ay {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 80px;
  height: 80px;
  background-color: #f6edbd;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: rise 1s ease-out;
          animation: rise 1s ease-out;
  -webkit-box-shadow: 0 0 10px 0 #f6edbd;
          box-shadow: 0 0 10px 0 #f6edbd;
  animation: rise 1s ease-out;
}

@-webkit-keyframes rise {
  from {
    -webkit-transform: translate(-70px, 200px);
            transform: translate(-70px, 200px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes rise {
  from {
    -webkit-transform: translate(-70px, 200px);
            transform: translate(-70px, 200px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.krater1, .krater2, .krater3, .krater4, .krater5 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 20px;
  background-color: #ece1a8;
  border-radius: 50%;
  z-index: 50;
  -webkit-box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.1) inset;
          box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.1) inset;
}

.krater2 {
  top: 55px;
  left: 20px;
  width: 10px;
  height: 10px;
}

.krater3 {
  top: 35px;
  left: 50px;
  width: 7px;
  height: 7px;
}

.krater4 {
  top: 15px;
  left: 55px;
  width: 7px;
  height: 7px;
}

.krater5 {
  top: 55px;
  left: 68px;
  width: 9px;
  height: 9px;
}

.tepecik1, .tepecik2, .tepecik3, .tepecik4, .tepecik5 {
  width: 300px;
  height: 200px;
  background-color: #303c5d;
  border-radius: 50%;
  top: 250px;
  left: -150px;
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0 0 1px 0 #303c5d;
          box-shadow: 0 0 1px 0 #303c5d;
}

.tepecik2 {
  top: 220px;
  width: 320px;
  left: 50px;
  z-index: 3;
  background-color: #303c5d;
}

.tepecik3 {
  top: 260px;
  left: 290px;
  z-index: 4;
  background-color: #303c5d;
}

.tepecik4 {
  top: 200px;
  left: 190px;
  z-index: 2;
  background-color: #26314f;
}

.tepecik5 {
  top: 200px;
  left: -110px;
  z-index: 1;
  background-color: #26314f;
}

.info {
  position: absolute;
  top: 320px;
  left: 0;
  height: 80px;
  width: 100%;
  color: #1a2238;
  background-color: #f6edbd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 10px 10px 10px;
}

.info div {
  float: left;
}

.info .current {
  width: 80px;
  height: 100%;
  font-size: 44px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: -0.1em;
}

.info .current_info {
  width: 200px;
  height: 100%;
  padding: 5px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 21px;
}

.info .current_info span:first-child::after {
  content: "";
  clear: both;
  display: table;
}

.info .days {
  width: 100px;
  height: 100%;
  padding: 5px;
  line-height: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.info .days span:first-child::after {
  content: "";
  clear: both;
  display: table;
}

.drop-big-1, .drop-medium-1, .drop-small-1, .drop-medium-2, .drop-small-2, .drop-medium-3, .drop-small-3, .drop-medium-4, .drop-small-4, .drop-medium-5, .drop-small-5, .drop-medium-6, .drop-small-6, .drop-medium-7, .drop-small-7, .drop-medium-8, .drop-small-8, .drop-medium-9, .drop-small-9, .drop-medium-10, .drop-small-10 {
  position: absolute;
  z-index: 20;
  left: 18px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.9s linear 1.52s infinite;
          animation: drop 0.9s linear 1.52s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-1:before, .drop-medium-1:before, .drop-small-1:before, .drop-medium-2:before, .drop-small-2:before, .drop-medium-3:before, .drop-small-3:before, .drop-medium-4:before, .drop-small-4:before, .drop-medium-5:before, .drop-small-5:before, .drop-medium-6:before, .drop-small-6:before, .drop-medium-7:before, .drop-small-7:before, .drop-medium-8:before, .drop-small-8:before, .drop-medium-9:before, .drop-small-9:before, .drop-medium-10:before, .drop-small-10:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-1:after, .drop-medium-1:after, .drop-small-1:after, .drop-medium-2:after, .drop-small-2:after, .drop-medium-3:after, .drop-small-3:after, .drop-medium-4:after, .drop-small-4:after, .drop-medium-5:after, .drop-small-5:after, .drop-medium-6:after, .drop-small-6:after, .drop-medium-7:after, .drop-small-7:after, .drop-medium-8:after, .drop-small-8:after, .drop-medium-9:after, .drop-small-9:after, .drop-medium-10:after, .drop-small-10:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-1 {
  left: 18px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 1.48s infinite;
          animation: drop 1.4s linear 1.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-1:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-1:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-1 {
  left: 18px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 1.12s infinite;
          animation: drop 2s linear 1.12s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-1:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-1:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-2 {
  position: absolute;
  z-index: 20;
  left: 56px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.9s linear 0.12s infinite;
          animation: drop 0.9s linear 0.12s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-2:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-2:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-2 {
  left: 56px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.5s linear 1.68s infinite;
          animation: drop 1.5s linear 1.68s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-2:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-2:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-2 {
  left: 56px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2.1s linear 1.56s infinite;
          animation: drop 2.1s linear 1.56s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-2:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-2:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-3 {
  position: absolute;
  z-index: 20;
  left: 94px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.9s linear 1.4s infinite;
          animation: drop 0.9s linear 1.4s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-3:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-3:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-3 {
  left: 94px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.5s linear 1.64s infinite;
          animation: drop 1.5s linear 1.64s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-3:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-3:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-3 {
  left: 94px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 1.88s infinite;
          animation: drop 2s linear 1.88s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-3:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-3:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-4 {
  position: absolute;
  z-index: 20;
  left: 132px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.8s linear 0.8s infinite;
          animation: drop 0.8s linear 0.8s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-4:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-4:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-4 {
  left: 132px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.5s linear 0.12s infinite;
          animation: drop 1.5s linear 0.12s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-4:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-4:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-4 {
  left: 132px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 0.56s infinite;
          animation: drop 2s linear 0.56s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-4:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-4:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-5 {
  position: absolute;
  z-index: 20;
  left: 170px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.8s linear 1.2s infinite;
          animation: drop 0.8s linear 1.2s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-5:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-5:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-5 {
  left: 170px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 0.4s infinite;
          animation: drop 1.4s linear 0.4s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-5:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-5:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-5 {
  left: 170px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 0.8s infinite;
          animation: drop 2s linear 0.8s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-5:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-5:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-6 {
  position: absolute;
  z-index: 20;
  left: 208px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.8s linear 1.84s infinite;
          animation: drop 0.8s linear 1.84s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-6:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-6:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-6 {
  left: 208px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 0.28s infinite;
          animation: drop 1.4s linear 0.28s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-6:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-6:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-6 {
  left: 208px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 1.28s infinite;
          animation: drop 2s linear 1.28s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-6:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-6:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-7 {
  position: absolute;
  z-index: 20;
  left: 246px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.8s linear 1.08s infinite;
          animation: drop 0.8s linear 1.08s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-7:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-7:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-7 {
  left: 246px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 0.68s infinite;
          animation: drop 1.4s linear 0.68s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-7:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-7:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-7 {
  left: 246px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 0.36s infinite;
          animation: drop 2s linear 0.36s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-7:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-7:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-8 {
  position: absolute;
  z-index: 20;
  left: 284px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.8s linear 1.76s infinite;
          animation: drop 0.8s linear 1.76s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-8:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-8:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-8 {
  left: 284px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 1.64s infinite;
          animation: drop 1.4s linear 1.64s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-8:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-8:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-8 {
  left: 284px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2.1s linear 1.32s infinite;
          animation: drop 2.1s linear 1.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-8:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-8:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-9 {
  position: absolute;
  z-index: 20;
  left: 322px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.9s linear 0.84s infinite;
          animation: drop 0.9s linear 0.84s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-9:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-9:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-9 {
  left: 322px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 1.32s infinite;
          animation: drop 1.4s linear 1.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-9:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-9:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-9 {
  left: 322px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2.1s linear 1.52s infinite;
          animation: drop 2.1s linear 1.52s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-9:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-9:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

.drop-big-10 {
  position: absolute;
  z-index: 20;
  left: 360px;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  -webkit-animation: drop 0.8s linear 0.28s infinite;
          animation: drop 0.8s linear 0.28s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.drop-big-10:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 3px;
}

.drop-big-10:after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-medium-10 {
  left: 360px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  -webkit-animation: drop 1.4s linear 1.6s infinite;
          animation: drop 1.4s linear 1.6s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-medium-10:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-10:after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 6px;
}

.drop-small-10 {
  left: 360px;
  opacity: 0.3;
  width: 4px;
  height: 4px;
  -webkit-animation: drop 2s linear 0.12s infinite;
          animation: drop 2s linear 0.12s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.drop-small-10:before {
  top: -2px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-10:after {
  top: -3px;
  left: 1px;
  width: 2px;
  height: 4px;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
            transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  85% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
            transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
            transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
            transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  85% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
            transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
            transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */