@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$dark_color: #cb7d4f;
$light_color: #eebd6c;
$white: #ffffff;

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15px;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: $dark_color;
  background: linear-gradient(-120deg, $dark_color, $light_color);
  border-radius: 2px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 300px;
  background-color: $white;
  box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
.profil_area {
  width: 220px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $white;
  position: absolute;
  text-align: center;

  div {
    position: absolute;
  }

  .avatar {
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    img {
      border-radius: 50%;
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
    }

    .circle-1 {
      width: 88px;
      height: 88px;
      top: -4px;
      left: -4px;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      border-width: 1px;
      border-style: solid;
      border-color: $dark_color $dark_color $dark_color transparent;
      transition: all 1.5s ease-in-out;
    }

    .circle-2 {
      @extend .circle-1;
      width: 96px;
      height: 96px;
      top: -8px;
      left: -8px;
      border-color: $dark_color transparent $dark_color $dark_color;
    }

    &:hover {
      cursor: pointer;

      .circle-1 {
        transform: rotate(360deg);
      }

      .circle-2 {
        transform: rotate(-360deg);
      }
    }
  }

  .dev_name {
    top: 165px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 180px;
  }

  .dev_name span:first-child::after {
    content: "";
    clear: both;
    display: table;
  }

  .dev_name span:first-child {
    font-weight: 600;
  }

  .dev_name span:nth-child(2) {
    font-size: 11px;
    line-height: 10px;
  }

  .button {
    font-size: 11px;
    border: 1px solid $dark_color;
    width: 120px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 30px;
    left: 50%;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &.button1 {
      top: 228px;
      transform: translate(-50%, -50%);
    }

    &.button1:hover {
      background-color: $dark_color;
      color: $white;
    }

    &.button2 {
      top: 263px;
      transform: translate(-50%, -50%);
    }

    &.button2:hover {
      background-color: $dark_color;
      color: $white;
    }
  }
}

.menu_area {
  width: 100px;
  height: 100%;
  left: 220px;
  padding: 0;
  margin: 0;
  background-color: $white;
  position: absolute;
  color: $white;

  div {
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background-color: $light_color;
    border: 1px solid $white;
    box-sizing: border-box;
    padding-top: 30px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }

  div:hover {
    background-color: $dark_color;
  }

  .menu span:first-child::after {
    content: "";
    clear: both;
    display: table;
  }

  .menu span:first-child {
    font-weight: 800;
  }

  .menu span:nth-child(2) {
    font-size: 10px;
  }
}
