@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #cb7d4f;
  background: linear-gradient(-120deg, #cb7d4f, #eebd6c);
  border-radius: 2px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.profil_area {
  width: 220px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: absolute;
  text-align: center;
}

.profil_area div {
  position: absolute;
}

.profil_area .avatar {
  top: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.profil_area .avatar img {
  border-radius: 50%;
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
}

.profil_area .avatar .circle-1, .profil_area .avatar .circle-2 {
  width: 88px;
  height: 88px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: #cb7d4f #cb7d4f #cb7d4f transparent;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.profil_area .avatar .circle-2 {
  width: 96px;
  height: 96px;
  top: -8px;
  left: -8px;
  border-color: #cb7d4f transparent #cb7d4f #cb7d4f;
}

.profil_area .avatar:hover {
  cursor: pointer;
}

.profil_area .avatar:hover .circle-1, .profil_area .avatar:hover .circle-2 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.profil_area .avatar:hover .circle-2 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.profil_area .dev_name {
  top: 165px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  width: 180px;
}

.profil_area .dev_name span:first-child::after {
  content: "";
  clear: both;
  display: table;
}

.profil_area .dev_name span:first-child {
  font-weight: 600;
}

.profil_area .dev_name span:nth-child(2) {
  font-size: 11px;
  line-height: 10px;
}

.profil_area .button {
  font-size: 11px;
  border: 1px solid #cb7d4f;
  width: 120px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  border-radius: 30px;
  left: 50%;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profil_area .button.button1 {
  top: 228px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profil_area .button.button1:hover {
  background-color: #cb7d4f;
  color: #ffffff;
}

.profil_area .button.button2 {
  top: 263px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profil_area .button.button2:hover {
  background-color: #cb7d4f;
  color: #ffffff;
}

.menu_area {
  width: 100px;
  height: 100%;
  left: 220px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: absolute;
  color: #ffffff;
}

.menu_area div {
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  background-color: #eebd6c;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.menu_area div:hover {
  background-color: #cb7d4f;
}

.menu_area .menu span:first-child::after {
  content: "";
  clear: both;
  display: table;
}

.menu_area .menu span:first-child {
  font-weight: 800;
}

.menu_area .menu span:nth-child(2) {
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */