@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d6d58e;
  font-family: 'Roboto';
}

.container {
  width: 300px;
  height: 300px;
  background-color: #042940;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 0 10px rgba($color: #005c53, $alpha: 1),
    15px 15px 10px rgba($color: #000000, $alpha: 0.5);
  color: #9fc131;

  .hundred {
    display: flex;  
    justify-content: center;  

    .one {
      width: 30px;
      height: 10px;
      background-color: #dbf227;
      transform: rotate(-45deg);
      margin: 7px 10px 0 0;
      border: 5px solid #dbf227;
      border-radius: 10px;
    }
    .one::after {
      content: "";
      width: 3px;
      height: 70px;
      background-color: #dbf227;
      position: absolute;
      left: -10px;
      top: -14px;
      transform: rotate(45deg);
      border: 5px solid #dbf227;
      border-radius: 10px;
    }
    .zeroOne,
    .zeroTwo {
      width: 40px;
      height: 80px;
      border: 10px solid #dbf227;
      border-radius: 20px;
      margin-right: 10px;
    }
  }
  .days { 
    font-size: 44px;
    letter-spacing: 2px;
    text-indent: 4px; 
  }
  .cssChalange { 
    font-size: 15px; 
  }
} 