@import "_base.scss";
.frame { 
  background: rgb(71, 71, 71); 
}

.center {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #B5CEA8;
  border: 5px dotted #283920 ;
  outline: 5px solid #283920;
  outline-offset: 8px;
  box-shadow: inset 0 0 0 16px #283920 ;
  position:absolute;  
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.center-sub {
  position: absolute;
  width:220px;
  height: 220px; 
  border-radius: 50%;  
  background: conic-gradient(#283920 6deg,transparent 6deg 360deg);
  animation: donus 6s linear infinite ;
 
}

.center-sub2 {
  position: absolute; 
  width:220px;
  height: 220px;
  border-radius: 50%;  
  background: conic-gradient(transparent 6deg, #B5CEA8 6deg 12deg,transparent 12deg 360deg);
  animation: donus2 6s linear infinite ;
 
}
.heart{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #F1006A;
  border-radius: 50%;
  margin-left: -14px;
  margin-top:-8px;
  animation: pulse 1s ease infinite ;
  transform: scale(.6);
  &::before{
    content: '';
    position: absolute;
    width: 30px;
  height: 30px;
  background-color: #F1006A;
  border-radius: 50%;
  left:18px;
  }
  &::after{
    content: '';
    position: absolute;
    width: 26px;
  height: 26px;
  background-color: #F1006A; 
  top:14px;
  left:11px;
  transform: rotate(45deg);
  }
}

.heart-beat{
  text-align: center;
  font-size: .7em;
  position: absolute;
  color: #B5CEA8;
 
  &::before{
    content: '81';
    position: absolute;
    width: 30px;
    height: 30px;  
    left:-16px; 
    top:-6px;
    animation: pulse-value 6s ease 1s infinite ;
    
  } 
}


@keyframes pulse-value {

  0%{
   content: '86';
  }

  25%{
    content: '92';
   
  }
  50%{
    content: '90';
   
  }
  75%{
    content: '94';
   
  }
  100%{
    content: '88';
   
  }
 
}


@keyframes pulse {

  0%{
   transform: scale(.6)
  }

  50%{
    transform: scale(.8)
   
  }
  100%{
    transform: scale(.6)
   
  }
 
}


@keyframes donus {

  0%{
   transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
   
  }
 
}
@keyframes donus2 {

  0%{
   transform: rotate(360deg);
  }

  100%{
    transform: rotate(0deg);
   
  }
 
}

.time{
  font-size: 2.5em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;

}

.calendar{
  font-size: .8em;
  position: absolute; 
  top:60px;
  letter-spacing: 1.4px;

}

.infos{
  font-size: .7em;
  position: absolute; 
  top:115px;
  letter-spacing: 1.2px;
  span{
    display: block;
    text-align: center;
    margin-bottom: 2px;
  }

}