@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #81004f;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-animation {
  animation: none !important;
}

.menu-icon {
  width: 90px;
  height: 52px;
  cursor: pointer;
  z-index: 50;
  .line-1 {
    height: 8px;
    width: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
    animation: animate-line-1-rev 0.7s ease-in-out;
  }
  .line-2 {
    height: 8px;
    width: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
    margin: 14px 0;
    animation: animate-line-2-rev 0.7s ease-in-out;
  }
  .line-3 {
    height: 8px;
    width: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
    animation: animate-line-3-rev 0.7s ease-in-out;
  }
  &:hover {
    .line-1 {
      background-color: #FFC7EF;
    }
    .line-2 {
      background-color: #FFC7EF;
    }
    .line-3 {
      background-color: #FFC7EF;
    }
  }
}
.menu-icon.active {
  .line-1 {
    background-color: #fff;
    animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .line-2 {
    background-color: #fff;
    animation: animate-line-2 0.3s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .line-3 {
    background-color: #fff;
    animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
}

.menu-icon.active:hover {
  .line-1 {
    background-color: #FFC7EF;
  }
  .line-3 {
    background-color: #FFC7EF;
  }
}


@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0, 22px, 0) rotate(-45deg);
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, 22px, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-2 {
  0% {
    transform: scale(1,1);
    opacity: 1;
  }
  100% {
    transform: scale(0,0);
    opacity: 0;
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, -22px, 0) rotate(45deg);
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -22px, 0) rotate(45deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
