@import "_base.scss";
.frame {
  background: #fff;
}

.thumb {
  width: 200px;
  height: 200px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    position: absolute;
  }
  &:hover{ 
    .plus {
      visibility: visible;
      opacity: 1;
    }
    .back {
      visibility: visible;
      opacity: .7;
    }
    
  }
  .plus {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    transition: all .5s ease-in;
    opacity: 0;
  }
  .back {
    background-color: #444;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all .5s ease-in;
    opacity: 0;
  }
}
