@import "_base.scss";
.frame { 
  position: relative;
}

.thumb {
  width: 190px;
  height: 190px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 10px;

  img {
    width: 100%;
    position: absolute;
    border-radius: 10px;
  }
  &:hover {
    .plus {
      visibility: visible;
      opacity: 1;
    }
    .back {
      visibility: visible;
      opacity: 0.7;
    }
  }
  .plus {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(211, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.5s ease-in;
    opacity: 0;
  }
  .back {
    background-color: #444;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.5s ease-in;
    opacity: 0;
    border-radius: 10px;
  }
}

.top {
  width: 100%;
  height: 50%;
  top: 0;
  background-color: #99B848;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-in-out;
  position: absolute; 
  border-radius: 10px 10px 0 0 ;
}
.bottom {
  width: 100%;
  height: 50%;
  background-color: rgb(211, 71, 71);
  transform: translate3d(0, 120%, 0);
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -5px 5px rgba(#000000,  .2);
  border-radius:  0 0 10px 10px ;
  .name{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1em;
    margin-top: 70px;
    transition: all 0.3s ease-in-out;
    opacity: 0;

  }
}


.close {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(211, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  top: 30px;
  right: 30px;
  transform: translate3d(100px, -100px, 0);
  opacity: 0;
  box-shadow: 0 0 15px rgba(#000000,  .3);
  &:hover{
    background-color: rgb(187, 90, 90);
  }

}
.avatar{
  width: 120px;
  height: 120px;
  position: absolute; 
  border-radius: 50%;
  border: 8px solid rgb(211, 71, 71) ;
  box-shadow: 0 -5px 5px rgba(#000000,  .3);
  img{
    border-radius: 50%;
    width: 100%;
    
  }
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}

.active {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.active-close {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.active-avatar {
  transform: scale(1) !important;
}
.active-name {
  opacity: 1 !important;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  top:120px;
  width: 100%;
  height: 32px; 
  gap: 16px;

  span{ 
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #99B848;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer; 
    transition: all 0.2s ease-in-out;
    top: 30px;
    right: 30px; 
    font-size: 1.5em;
    box-shadow: 0 0 15px rgba(#000000,  .3);

    &:hover{
      background-color: #a7c756;
    }

  }
    
}
