$kirmizi : rgb(227, 10, 23);
$beyaz :rgb(255,255,255);

$l:1.5;
$m : 1/30 ;
$a : 1/2 ;
$d:0.4;
$c:1/16;
$e:1/3;
$f:1/4;
$vsize : 200px ;

body{
    background-color: rgb(95, 194, 233);
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: ($vsize * $l)+($vsize*$m);
    height: $vsize ;
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 0;
  }

  .uckurluk{
    width: $vsize*$m;
    height: $vsize ;
    background-color:$beyaz;
    position: absolute;
    z-index: 1;
    left: 0;
  }

  .yuzey{
    width: $vsize * $l;
    height: $vsize ;
    background-color:$kirmizi;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .ay{
    width: $vsize * $a;
    height: $vsize * $a;
    background-color:$beyaz;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    left: ($vsize * $a /2)+($vsize*$m);
    top: ($vsize * $a / 2);
  }
  .ayIc{
    width: $vsize * $d;
    height: $vsize * $d;
    background-color:$kirmizi;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    left: ((($vsize * $a) + ($vsize * $c)) - ($vsize * $d)/2)+($vsize*$m);
    top: ($vsize/10)*3 ;
  
  }

  .yildiz {
    background: $beyaz;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: $vsize * $f;
    width: $vsize * $f;
    position: absolute;
    z-index: 4;
    left: (((($vsize * $a) + ($vsize * $c)) - ($vsize * $d)/2)+($vsize * $e))+($vsize*$m);
    top: ($vsize /2 ) - ($vsize * $f) / 2;
    transform: rotate(54deg);
  }
 