body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F6FBF4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame { 
 
  overflow: hidden;
  background-color: #F6FBF4;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; 
}