@import "_base.scss";
.frame { 
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #38380b;
}

.center {
  width: 300px;
  height: 300px;
  background-color: beige;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: 4px 8px 16px 0 rgba(75, 134, 115, 0.1);
  position: relative;

  &:hover{
    .upload-bar{ 
      transform: scaleX(1); 
    }
  
  }

  .upload-bar{
    width: 100%;
    height: 3px;
    background-color: #777718;
    transform: scaleX(0);
    transition: all 3s ease-in-out;
    transform-origin: 0 0;
  }


  .upload-header {
    width: 100%;
    height: 36px;
    text-align: center;
    border-bottom: 1px solid #d4d46a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .drop-area {
    width: 100px;
    height: 100px;
    background-color: #ececbe;
    margin-top: 50px;
    border: 1px dashed;
    position: relative;
    transition: all .5s ease-in-out;
    &:hover {
      &::after {
        animation: upload-arrow .9s ease-in infinite;
      }
     box-shadow: 0 0 12px #1b1b0642;

   
    }


    .input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
  
  
    &::before {
      content: "\2601";
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      position: absolute;
    }
  
    &::after {
      content: "\21e7";
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      position: absolute;
      color: #ececbe;
      margin-top: 5px; 
    }
  }
  
  .upload {
    margin-top: 50px;
    padding: 8px 4px;
    width: 120px;
    color: #fff;
    background-color: #777718;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-bottom-color: #33330A;
    border-radius: 4px;
    cursor: not-allowed;
    transition: all 0.5s ease;
    &:hover {
      background-color: #9e9e34;
      box-shadow: 0 0 15px #9e9e3470;
    }
  }

  .file-name{ 
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: .8em;
    text-align: center;
    position: absolute;
  }



}


@keyframes upload-arrow {
  0%, 100%{
    transform: translate3d(0, 0, 0);
  }
  50%{
    transform: translate3d(0, 6px, 0);
  }
  
}